DIRECT_URL="postgresql://postgres.gbxxknkkjcingvbgwhgd:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
DATABASE_URL="postgresql://postgres.gbxxknkkjcingvbgwhgd:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
ADMIN_PASSWORD="admin123"
ASLAB_SECRET_CODE="admin123"
