# -----------------------------------------------------------------------------------
# 1. DIRECT / SESSION POOLER (Port 5432 - IPv4 Compatible)
# Sangat direkomendasikan untuk Drizzle Migrations (`drizzle-kit push`) & Batch Scraper
# -----------------------------------------------------------------------------------
DIRECT_URL="postgresql://postgres.gbxxknkkjcingvbgwhgd:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# -----------------------------------------------------------------------------------
# 2. TRANSACTION POOLER (Port 6543 - Supavisor)
# Sangat direkomendasikan untuk Serverless / Elysia / Next.js agar hemat pool koneksi
# -----------------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres.gbxxknkkjcingvbgwhgd:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
